@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



/* --------------- Tailwind is used --------------- */
/* body {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d65600;
    padding: 1rem;
}

.image {
    height: 50px;
    max-width: 100px;
}

.user_icon {
    height: 50px;
    max-width: 100px;
}

.search {
    margin: 0 2%;
    padding: 0.5rem;
    font-size: 1rem;
    width: 20%;
    display: flex;
    align-items: center;
}

.search_img{
    width: 70%;
    padding: 0.5rem;
    margin-right: 5%;
}

.card {
    border: 1px black solid;
    width: 15vw;
    margin: 2%;
    padding: .5%;
}

.card > img {
    width: 100%;
}

.restaurant-list {
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu {
  display: flex;
}

.login-form{
  padding: 10vh;
  height: 50vh;
  width:70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: crimson;
  color: white;
}

.input-form{
  padding: 2%;
}

.shimmer {
    background: linear-gradient(
      to right,
      #f6f7f8 0%,
      #e3e3e3 50%,
      #f6f7f8 100%
    );
    background-size: 200% auto;
    animation: shimmer 2s infinite;
    width: 15vw;
    height: 40vh;
    margin: 2%;
    padding: .5%;
  }
  
  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  } */